<h2 class="mb-3">Admin Dashboard</h2>
<div class="tiles">
  <div class="tile"><div class="icon"><i class="fa fa-users"></i></div><div class="meta"><div class="k">Total Users</div><div class="v"><%= totalUsers %></div></div></div>
  <div class="tile"><div class="icon"><i class="fab fa-twitter"></i></div><div class="meta"><div class="k">Total Tweets</div><div class="v"><%= totalTweets %></div></div></div>
  <div class="tile"><div class="icon"><i class="fa fa-exclamation-triangle"></i></div><div class="meta"><div class="k">Suspicious Logins</div><div class="v"><%= suspiciousLogins %></div></div></div>
</div>
