<h2 class="mb-3">Dashboard</h2>
<div class="tiles">
  <div class="tile hover-raise">
    <div class="icon"><i class="fa fa-bell"></i></div>
    <div class="meta"><div class="k">Notifications</div><div class="v">Cek inbox</div></div>
  </div>
  <div class="tile hover-raise">
    <div class="icon"><i class="fab fa-twitter"></i></div>
    <div class="meta"><div class="k">My Tweets</div><div class="v">Kelola tweet</div></div>
  </div>
  <div class="tile hover-raise">
    <div class="icon"><i class="fa fa-clock"></i></div>
    <div class="meta"><div class="k">Scheduler</div><div class="v">Auto post loop</div></div>
  </div>
  <div class="tile hover-raise">
    <div class="icon"><i class="fa fa-shield-alt"></i></div>
    <div class="meta"><div class="k">Security</div><div class="v">Login Logs</div></div>
  </div>
</div>
